<html xmlns:th="http://www.thymeleaf.org">
<tr th:fragment="card(hybrid)">
    <!--/*@thymesVar id="hybrid" type="com.rhododendra.model.Hybrid"*/-->
    <td>
        <h2>
            <span th:if="${hybrid.getIs_cultivar_group()}" th:text="|Cultivar Group '${hybrid.name}'|"></span>
            <span th:if="${hybrid.getIs_species_selection()}" th:text="|Species Selection '${hybrid.name}'|"></span>
            <span th:if="${!hybrid.getIs_species_selection() && !hybrid.getIs_cultivar_group()}"
                  th:text="|Rhododendron '${hybrid.name}'|"></span>
        </h2>
        <a th:href="@{'/hybrids/'+ ${hybrid.id}}">More information and pictures</a>
    </td>
    <td>
        <th:block th:if="${not #lists.isEmpty(hybrid.photos)}">
            <img th:src="${hybrid.photos[0]}" width="400">
        </th:block>
    </td>
</tr>
</html>
