<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="species" type="com.rhododendra.model.Species"*/-->
<tr th:fragment="card(species)">
    <td>
        <h2><span th:text="'R. ' + ${species.name}"></span></h2>
        <th:block th:if="${species.class.name == 'com.rhododendra.model.Species'}">
            <th:block th:insert="~{fragments/species-preview-info :: preview(${species})}"></th:block>
        </th:block>
    </td>
    <td>
        <th:block th:if="${not #lists.isEmpty(species.photos)}">
            <img th:src="${species.photos[0]}" width="400" height="300">
        </th:block>
    </td>
</tr>
</html>
