<html xmlns:th="http://www.thymeleaf.org">
<tr th:fragment="card(rhodo)">
    <!--/*@thymesVar id="rhodo" type="com.rhododendra.model.Rhododendron"*/-->
    <td class="table-description-text">
        <h2 th:text="${#strings.capitalize(rhodo.getName())}"></h2>
        <h4>
            <span th:if="${rhodo.isCultivarGroup()}">Cultivar Group</span>
            <span th:if="${rhodo.isSpeciesSelection()}">Species Selection</span>
            <span th:if="${rhodo.isSpecies()}">Species</span>
            <span th:if="${rhodo.isNaturalHybrid()}">Naturally Occurring Hybrid</span>
            <span th:if="${rhodo.isHybridRhodo()}">Rhododendron Hybrid</span>
            <span th:if="${rhodo.isVireyaHybrid()}">Vireya Hybrid</span>
            <span th:if="${rhodo.isAzaleaHybrid()}">Azalea Hybrid</span>
            <span th:if="${rhodo.isAzaleodendronHybrid()}">Azaleodendron Hybrid</span>
        </h4>
        <a th:if="${not #lists.isEmpty(rhodo.getPhotos())}" th:href="@{'/rhodos/'+ ${rhodo.getId()}}">
            More information and pictures
        </a>
    </td>
    <td class="picture-td">
        <th:block th:if="${not #lists.isEmpty(rhodo.getPhotos())}">
            <a th:href="@{'/rhodos/'+ ${rhodo.getId()}}">
                <img th:src="${rhodo.getPhotos()[0]}" width="400">
            </a>
        </th:block>
        <th:block th:if="${#lists.isEmpty(rhodo.getPhotos())}">
            <a th:href="@{'/rhodos/'+ ${rhodo.getId()}}">More information</a>
        </th:block>
    </td>
</tr>
</tr>
</html>
