<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="species" type="com.rhododendra.model.Rhododendron"*/-->
<tr th:fragment="card(species)">
    <td>
        <h2>
            <span th:if="${not species.isNaturalHybrid()}" th:text="|R. '${species.name}'|"></span>
            <span th:if="${species.isNaturalHybrid()}" th:text="|R. x '${species.name}'|"></span>
        </h2>
        <dl>
            <dt>Subgenus</dt>
            <dd th:text="${species.getTaxonomy().getSubgenus()}"></dd>

            <dt>Section</dt>
            <dd th:text="${species.getTaxonomy().getSection()}"></dd>

            <dt>subsection</dt>
            <dd th:text="${species.getTaxonomy().getSubsection()}"></dd>
        </dl>
        <a th:href="@{'/rhodos/'+ ${species.id}}">More information and pictures</a>
    </td>
    <td>
        <th:block th:if="${not #lists.isEmpty(species.photos)}">
            <img th:src="${species.photos[0]}" width="400">
        </th:block>
    </td>
</tr>
</html>
