<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="species" type="com.rhododendra.model.Species"*/-->
<th:block th:fragment="preview(species)">
    <dl>
        <dt>Subgenus</dt>
        <dd th:text="${species.getSubgenus()}"></dd>

        <dt>Section</dt>
        <dd th:text="${species.getSection()}"></dd>

        <dt>subsection</dt>
        <dd th:text="${species.getSubsection()}"></dd>
    </dl>
    <a th:href="@{'/rhodos/'+ ${species.id}}">More information and pictures</a>
</th:block>
</html>
