<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title th:text="|About|"></title>
    <meta name="description" th:content="|About Rhododendra.com|">
    <link rel="canonical" th:href="|www.rhododendra.com/about|"/>
</head>
<body>
<div th:replace="~{fragments/header}"></div>


<div class="content">
    <div class="description-container">
        <h1 class="font-weight-bold">About</h1>
        <h5 style="text-align: center;"><b>Rhododendron</b> (plural: <b>rhododendra</b>)</h5>
        <br/>
        <ul>
            <li><a href="#what-is-this">What is This Place?</a></li>
            <li><a href="#disclaimer">Accuracy of Information</a></li>
            <li><a href="#todo-list">The Ever Growing To-Do List</a></li>
            <li><a href="#update-log">Update Log</a></li>
            <li><a href="#acknowledgements">Acknowledgements</a></li>
            <li><a href="#tech">Technical Details</a></li>
        </ul>
        <h3 id="what-is-this">What is This Place?</h3>
        <p>
            This website lists ~17,500 rhododendron species and cultivars with photos and information. This site is
            non-commercial and not owned by another organization. I built it for the benefit and enjoyment of others
            who share an interest in Rhododendrons.
        </p>
        <p>
            With all this data in one place, it's possible to explore connections between plants, e.g. searching for:
            parents, siblings, children, and taxonomy. There are many more advanced search/visualization features to
            come. In addition to exploring data, this website contains ~15,000 pictures, many of which show
            details and plants available nowhere else.
        </p>
        <p>
            This website seeks to continue the project started by the late, great, www.hirsutum.info. Though Hirsutum no
            longer exists, I am profoundly grateful to the developers and contributors for their hard work assembling
            photos and information. I built the code for Rhododendra from scratch, and used data from Hirsutum
            listed as "public domain" and the pictures contained therein (owned by their contributors). I hope that this
            website will one day become a worthy successor in continuing the work that Hirsutum started.
        </p>
        <p>
            <i>
                This website is still <b>very early in its development</b> - there's much more yet on the way!
            </i>
            Stay tuned as functionality and data are regularly added.
        </p>
        <h3 id="disclaimer">Accuracy of Information:</h3>
        <p>There's a substantial amount of data on this site, and you may occasionally stumble on something that is
            wrong or outdated. I have a plan to fix it. In the meantime, you can cross-reference data from the top-notch
            resources in the <a th:href="@{/links}">Links</a> section.
        </p>
        <p>
            My plan for updating stale info is to build a system for public contribution that is vetted by a community
            of moderators. My goal is for this site to become a living thing, owned and updated by the community.
        </p>
        <h3 id="todo-list">The Ever Growing To-Do List:</h3>
        <p>(Roughly ordered top to bottom)</p>
        <ul>
            <li>Add data for botanists</li>
            <li>Add (public-domain, opensource) licence for code and info, and display copyright info for pics</li>
            <li>Investigate /rhodos/a11357</li>
            <li>Add links to other great rhodo resources</li>
            <li>Fix capitalization issues in search</li>
            <li>Include named selections in offspring/sibling search</li>
            <li>Add page that shows full genetic trees</li>
            <li>Add hybridizer index</li>
            <li>Add Taxonomy index page</li>
            <li>Add new fields for rhodo data, eg. scent, cultivation notes, successfully grown in hardiness zones,
                etc.
            </li>
            <li>Add a mechanism to enable others to contribute with additional pictures, info, and corrections via a
                "form" on the website (instead of manual data entry).
            </li>
            <li>Add additional fields like scent, links, growth habit, sun/shade requirements, drainage requirements,
                disease
                resistance
            </li>
            <li>Add (public-domain, opensource) licence for code and info, and display copyright info for pics</li>
        </ul>
        <h3 id="update-log">Update Log:</h3>
        <p>
            (Newest First)
        </p>
        <ul>
            <li>Dec 20, 2023: Enable https</li>
            <li>Dec 09, 2023: Add data + search for hybridizers</li>
            <li>Dec 04, 2023: Add taxonomic search. Display taxonomy in index/search "cards"</li>
            <li>Nov 29, 2023: Add parent/children search, add styling updates, improve search "cards"</li>
            <li>Nov 28, 2023: Improve scientific stylistic nomenclature across the site</li>
            <li>Nov 27, 2023: Fixed "Respp rex" entry, caused by a parsing bug in the data scraper</li>
            <li>
                Nov 26, 2023: Sort species selections based on species name, not the selection name. Update "about" and
                "contact" pages. Updated capital and italics nomenclature for synonyms.
            </li>
            <li>Nov 25, 2023: Added index filters for Species and Cultivars, improved categorization, and styling
                updates.
            </li>
            <li>Nov 22, 2023: Fixed issue with duplicate entries. Added "x" to natural hybrids</li>
            <li>Nov 20, 2023: Added all hi-res photos (Thanks to Tom Nosella for providing a clean backup)</li>
            <li>Nov 19, 2023: Update titles to improve stylistic nomenclature (not fully completed).</li>
            <li>Nov 15, 2023: Use a CDN (content delivery network) for faster picture delivery.</li>
            <li>Add styling so the page looks decent in general (open for debate)</li>
            <li>italicize species, swap seed/pollen parent in attributes table</li>
            <li>Add data for azaleodendrons</li>
            <li>Add index filters for just pictures</li>
            <li>Add data for hybrid vireyas</li>
            <li>Add data for hybrid azalea</li>
            <li>Display/link the parent/child relationships of cultivars (hybrids of, parents, etc.)</li>
            <li>Add the ability to scroll through category index with pagination</li>
            <li>Add data for hybrids</li>
        </ul>
        <h3 id="acknowledgements">Acknowledgements:</h3>
        <p>
            Through continued development, the purpose of this website is to become a successor to the late, great,
            www.hirsutum.info. We owe a debt of gratitude to <b><i>Herman Van Ree</i></b>, <b><i>Marjo Schlenter</i></b>,
            and to the <b><i>Hirsutum contributors</i></b> for over a decade of work, including data collection and
            assembly.
        </p>
        <p>
            Special thanks to <b><i>Sean Rafferty</i></b> for his generosity, time, and wealth of advice. Sean first
            described www.hirsutum.info to me, its utility to the community, and it's unfortunate demise. That
            conversation became the origin of this project.
        </p>
        <p>
            Thanks to <b><i>Ken Webb</i></b>, <b><i>Tony & Caroline Marquardt</i></b>, and the <b><i>good folks of the
            Victoria Rhododendron Society</i></b> for their generosity and assistance in the rhododendronization of my
            garden.
        </p>
        <h3 id="tech">Technical Details:</h3>
        <p>
        <ul>
            <li>17,488 unique entries</li>
            <li>14407 photos</li>
            <li>
                Data scraping and munging was done using ~3000 lines of Python (programming language).
            </li>
            <li>Search was developed using Apache Lucene, which is a library for building custom search engines</li>
            <li>I wrote the backend in Java (programming language) as I wanted to keep it simple and use something
                widely known, yet fast enough to run on economical hardware
            </li>
            <li>I'm using Springboot as the server framework</li>
            <li>I wrote the frontend in plain old HTML, CSS, and JavaScript.</li>
            <li>I'm using thymeleaf as a templating engine. It's old tech so every question you
                could conceive of has already been answered, and it mostly "stays out of the way" for now
            </li>
            <li>I chose to use AWS for hosting/infrastructure: EC2, S3 buckets, Cloudfront CDN</li>
            <li>Code is on GitHub, the project is built with Gradle, the VM runs Linux. Standard stuff.</li>
        </ul>
        <br/>
        <br/>
    </div>
</div>

</body>
</html>
