<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>

<div style="padding-left:16px">
    <h1>About:</h1>
    <p><b>Rhododendron</b> (plural: <b>rhododendra</b>)</p>
    <p>This website lists rhododendron species and cultivars with photos and information.</p>
    <p>This website is still very much a work in progress. Stay tuned as functionality and data are regularly added.</p>

    <h3>Still on the to-do list:</h3>
    <ul>
        <li>Add data for hybrid rhdodendra</li>
        <li>Add data for hybrid azalea</li>
        <li>Add data for hybrid vireyas</li>
        <li>Add the ability to scroll through category indices with pagination</li>
        <li>Add styling so the page fits mobile devices and looks decent in general</li>
        <li>Display/link the parent/child relationships of cultivars (hybrids of, parents, etc.)</li>
        <li>Add the ability to search on many more categories to make it easy to find and display information</li>
        <li>Add a mechanism to enable others to contribute with additional pictures, info, and corrections</li>
    </ul>

    <h3>Acknowledgements:</h3>
    <p>
        Through continued development, the purpose of this website is to become a successor to the late, great,
        www.hirsutum.com. We owe a debt of gratitude to Herman & Marjo Van Ree and to the Hirsutum contributors for over
        a decade of work, including data collection and assembly.
    </p>
    <p>
        Special thanks to Sean Rafferty for fueling my interest with his advice, time, and generosity Sean first
        described to me www.hirsutum.com, its utility to the community, and it's unfortunate demise. That conversation
        became the origin of this project.
    </p>
</div>

</body>
</html>
