<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>

<div style="padding-left:16px">
    <h1>Contact:</h1>
    <p>
        I'm John Verwolf, and I live on Vancouver Island, Canada. I built this site for the enjoyment and utility of the
        community, thought it's still very much a work in progress. I hope you like it!
        <br/>
        <br/>
        I will build a mechanism on this website to enable others to submit pictures, new entries, and
        corrections. This will become the primary means of adding data to this website.
        <br/>
        <br/>
        If something is broken, you have a feature request, or if you'd just like to send some regards, I can be reached
        at the following email (remove the + signs and spaces):
        <br/>
        <br/>
        <b>jd + verwolf @ gmail + .com</b>
        <br/>
        <br/>
        Please prefix your email title with "<b>Rhododendra: </b>" so that I don't miss it.
    </p>
    <p>
        See Also:
    <ul>
        <li><a href="https://www.linkedin.com/in/john-verwolf/">LinkedIn</a></li>
        <li><a href="https://github.com/JVerwolf">GitHub</a></li>
    </ul>
    </p>
</div>

</body>
</html>
