<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>

<div class="content">
    <div class="description-container">
        <h1 class="font-weight-bold">Contact</h1>
        <p>
            I'm John Verwolf, and I live on Vancouver Island, Canada. I built this site for the enjoyment and utility of
            the community. I hope you like it!
        </p>
        <img th:src="@{/imgs/john1.jpg}"
             title="Hi, nice to meet you!"
             style="float: left; margin-right: 1.5em; width: 15em"
        >
        <p>
            I will build a mechanism on this website to enable others to submit pictures, new entries, and
            corrections. This will become the primary means of adding data to this website.
        </p>
        <p>
            My current focus is 100% on programming and developing the system - this is where my time is most needed
            at this stage of the project.
        </p>
        <p>
            There <i>is</i> outdated and occasionally incorrect info on the site; if you
            notice something wrong in the data please make note of the specific problem including the URL and the
            specific correction. When I've built a system for public input, I'll please ask you to submit the correction
            at that point.
        </p>
        <p>
            If you notice something about the features or the display of information, that is wrong, missing, could be
            improved, etc. - well that's the type of work I'm currently engaged in, so I'd love to hear from you! Please
            check the <a th:href="@{/about#todo-list}">todo list</a> first to see if it's already <i>specifically</i>
            mentioned, and if it's not, I'd be happy to hear your ideas!
        </p>
        <p>
            If you enjoy this website, it would mean a lot to hear from you! I can be reached at the following email:
        </p>
        <p style="text-align: center;">
            <b style="font-size: 1.5em;">
                jdverwolf
                <img th:src="@{/imgs/golden_at.gif}"
                     style="height: 1.0em;vertical-align:middle;"
                     title="The image helps to stops spam-bots from copying my email and sending me junk">
                gmail.com
            </b>
        </p>
        <p style="text-align: center;">
            (Please prefix your email title with "<b>Rhododendra: </b>" so that I don't miss it.)
        </p>
        <h2>Other Places</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/john-verwolf/">LinkedIn</a></li>
            <li><a href="https://github.com/JVerwolf">GitHub</a></li>
        </ul>
        <br/>
        <br/>
    </div>
</div>

</body>
</html>
