<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>

<div class="content">
    <div class="description-container">
        <h1>Contact:</h1>
        <p>
            I'm John Verwolf, and I live on Vancouver Island, Canada. I built this site for the enjoyment and utility of
            the
            community. I hope you like it!
            <br/>
            <br/>
            I will build a mechanism on this website to enable others to submit pictures, new entries, and
            corrections. This will become the primary means of adding data to this website.
            <br/>
            <br/>
            If you enjoy this website, I'd love to hear from you! If you have a feature request, or if you notice
            something is broken, I can be reached at the following email:
            <br/>
            <br/>
            <b style="font-size: 1.5em;">jdverwolf <img th:src="@{/imgs/golden_at.gif}" style="height: 1.0em;vertical-align:middle"> gmail.com</b>
            <br/>
            <br/>
            Please prefix your email title with "<b>Rhododendra: </b>" so that I don't miss it.
        </p>
        <p>
        <h2>Other Places</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/john-verwolf/">LinkedIn</a></li>
            <li><a href="https://github.com/JVerwolf">GitHub</a></li>
        </ul>
        </p>
        <br/>
        <br/>
    </div>
</div>

</body>
</html>
