<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="|Home|"></title>
    <meta name="description" th:content="|Home|">
    <link rel="canonical" th:href="|${domain}|"/>
</head>
<body class="page-home">
<div th:replace="~{fragments/header}"></div>

<div class="content">
    <div class="description-container">
        <h1 class="font-weight-bold">Rhododendra</h1>
        <div class="container">
            <div class="flex-item">
                <h3><i>The Rhododendron Database</i></h3>
                <p>
                    Welcome! This website displays thousands of rhododendron species and hybrids from contributors
                    across the globe.
                </p>
                <p>
                    Explore the entries in the <a th:href="@{/rhodo_index(letter='a',size=50,offset=0)}"><b>Rhododendron
                    Index</b></a> to discover a wealth of photos and information.
                </p>
                <p>
                    <strong>Information</strong> on this site is public domain. It is not
                    guaranteed to be accurate.
                </p>
                <p>
                    <strong>Photographs</strong> are copyright of their authors.
                </p>
                <p>
                    <strong>Code</strong> is free and open source, licensed under the
                    <a href="https://www.gnu.org/licenses/gpl-3.0.html" rel="noopener noreferrer">GNU General Public
                        License v3.0 or later</a>.
                </p>
                <br/>
                <br/>
            </div>
            <div class="fixed">
                <a th:href="@{/rhodos/h3168}">
                    <img src="https://d2rugg7g9y8njm.cloudfront.net/img/s186_mucronulatum_var_mucronulatum_12_big.jpg">

                </a>
                <i>R. mucronulatum var mucronulatum</i>
                </br>
                Photo Credit: Susan Lightburn, 2010
            </div>
        </div>
    </div>
</div>
</body>
</html>
