<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>

<div class="content">
    <div class="description-container">
        <div class="container">
            <div class="flex-item">
                <h1>Rhododendra</h1>
                <h3><i>The Rhododendron Database</i></h3>


                <p>
                    Welcome! This website displays thousands of rhododendron species and hybrids from contributors
                    across the
                    globe.
                </p>
                <p>
                    Explore the entries in the <a th:href="@{/rhodo_index(letter='a',size=50,offset=0)}">Rhododendron
                    Index</a>
                    to
                    discover a wealth of photos and information.
                </p>
                <p>
                    This website is very early in it's development. Stay tuned as functionality and data are being added
                    regularly.
                </p>

                <br/>
                <br/>
            </div>
            <div class="fixed">
                <a th:href="@{/rhodos/h3168}">
                    <img src="https://rhodo-pics.s3.us-west-2.amazonaws.com/img/s186_mucronulatum_var_mucronulatum_12_big.jpg">

                </a>
                <i>R. mucronulatum var mucronulatum</i>
            </div>
        </div>
    </div>
</div>
</body>
</html>
