<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title th:text="${hybridizer.getName()}"></title>
    <meta name="description" th:content="|Hybridizer profile for ${hybridizer.getName()}|">
    <link rel="canonical" th:href="|www.rhododendra.com/hybridizer/${id}|"/>
</head>

<body>
<div th:replace="~{fragments/header}"></div>
<!--/*@thymesVar id="rhodo" type="com.rhododendra.model.Rhododendron"*/-->

<div class="content">
    <div class="description-container">
        <h1 class="font-weight-bold">Hybridizer Profile</h1>
        <h2 style="text-align: center;" th:text="${hybridizer.getName()}"></h2>
        <h3 style="text-align: center;" th:if="${hybridizer.getLocation() != null}"
            th:text="${ hybridizer.getLocation()}"></h3>
        <div style="display: flex; justify-content: center;" th:if="${not hybridizerResolvedPhotoDetails.isEmpty()}">
            <img th:src="${hybridizerResolvedPhotoDetails.get(0).getResolvedNormalURL()}"
                 th:title="${hybridizer.getName()}"/>
        </div>
        <br/>
        <th:block th:if="${not rhodos.isEmpty()}">
            <table>
                <tr>
                    <td><b>Pages of Hybrids:</b></td>
                    <th:block th:each="page, stat : ${resultPages}">
                        <td th:style="${stat.index == resultPagePos ? 'background-color: #55aaaa;': _}"
                            th:styleappend="${'padding:8px'}">
                            <a th:href="@{/hybridizer/__${id}__(size=${pageSize},offset=${page.startPos})}">
                                <b th:text="${stat.index + 1}"></b>
                            </a>
                        </td>
                    </th:block>
                </tr>
            </table>
        </th:block>
        <br/>
    </div>
    <th:block th:if="${not rhodos.isEmpty()}">
        <a th:if="${resultPagePos< resultPages.size()-1}"
           th:href=" @{/hybridizer/__${id}__(size=${pageSize},offset=${resultPages[resultPagePos].endPos+1})}"
           style="display: flex; justify-content: flex-end; padding-right: 5%">
            <h2>
                Next Page
            </h2>
        </a>
        <table class="picture-table bordered-table">
            <th:block th:each="rhodo : ${rhodos}">
                <th:block th:insert="~{fragments/rhodo-preview-card :: card (${rhodo}) }"></th:block>
            </th:block>
        </table>
        <a th:if="${resultPagePos< resultPages.size()-1}"
           th:href=" @{/hybridizer/__${id}__(size=${pageSize},offset=${resultPages[resultPagePos].endPos+1})}"
           style="display: flex; justify-content: flex-end; padding-right: 5%">
            <h2>
                Next Page
            </h2>
        </a>
    </th:block>
</div>
</body>
</html>