<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>
<!--/*@thymesVar id="hybrid" type="com.rhododendra.model.Hybrid"*/-->

<div style="padding-left:16px">
    <h1>
        <span th:if="${hybrid.getIs_cultivar_group()}" th:text="|Cultivar Group '${hybrid.name}'|"></span>
        <span th:if="${hybrid.getIs_species_selection()}" th:text="|Species Selection '${hybrid.name}'|"></span>
        <span th:if="${!hybrid.getIs_species_selection() && !hybrid.getIs_cultivar_group()}"
              th:text="|Rhododedron '${hybrid.name}'|"></span>
    </h1>
    <h2 th:if="${hybrid.getIs_species_selection()}" th:inline="text">
        [[|'${hybrid.name}' is a selection of |]]
        <a th:href="@{'/species/'+ ${original_species.getId()}}" th:text="|R. ${original_species.getName()}|"></a>
    </h2>

    <table>
        <th:block th:if="${hybrid.getIs_species_selection()}">
            <tr>
                <td><b>Selected By:</b></td>
                <td th:if="${hybrid.getHybridizer() != null}" th:text="${hybrid.getHybridizer()}"></td>
                <td th:if="${hybrid.getHybridizer() == null}">Unknown</td>
            </tr>
        </th:block>

        <th:block th:if="${!hybrid.getIs_species_selection()}">
            <tr>
                <td><b>Hybridized By:</b></td>
                <td th:if="${hybrid.getHybridizer() != null}" th:text="${hybrid.getHybridizer()}"></td>
                <td th:if="${hybrid.getHybridizer() == null}">Unknown</td>
            </tr>
            <tr>
                <td><b>Pollen Parent:</b></td>
                <td th:if="${hybrid.getGenetics().getPollen_parent() != null}"
                    th:text="${hybrid.getGenetics().getPollen_parent()}"></td>
                <td th:if="${hybrid.getGenetics().getPollen_parent() == null}">?</td>
            </tr>
            <tr>
                <td><b>Seed Parent:</b></td>
                <td th:if="${hybrid.getGenetics().getSeed_parent() != null}"
                    th:text="${hybrid.getGenetics().getSeed_parent()}"></td>
                <td th:if="${hybrid.getGenetics().getSeed_parent() == null}">?</td>
            </tr>
            <tr>
                <td><b>10 Year Height:</b></td>
                <td th:text="${hybrid.getTen_year_height()}"></td>
            </tr>
            <tr>
                <td><b>Flower:</b></td>
                <td th:text="${hybrid.getFlower()}"></td>
            </tr>
            <tr>
                <td><b>Bloom Time:</b></td>
                <td th:text="${hybrid.getBloom_time()}"></td>
            </tr>
            <tr>
                <td><b>Leaves:</b></td>
                <td th:text="${hybrid.getLeaves()}"></td>
            </tr>
            <tr>
                <td><b>Additional Parentage Info:</td>
                <td th:text="${hybrid.getAdditional_parentage_info()}"></td>
            </tr>
            <tr th:if="${not hybrid.getSynonymns().isEmpty()}">
                <td><b>Synonyms:</b></td>
                <td>
                    <th:block th:each="synonym : ${hybrid.getSynonymns()}">
                        <br th:text="${synonym}"></br>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td><b>Type:</b></td>
                <td th:text="${hybrid.getType()}"></td>
            </tr>
            <tr>
                <td><b>Hardiness:</b></td>
                <td th:text="${hybrid.getHardiness()}"></td>
            </tr>
            <tr>
                <td><b>Status:</b></td>
                <td th:text="${hybrid.getStatus()}"></td>
            </tr>
        </th:block>


    </table>

    <table>
        <thead><h2>Pictures</h2></thead>
        <tr th:each="resolvedPhotoDetail : ${resolvedPhotoDetails}">
            <td>
                <a th:href="${resolvedPhotoDetail.getResolvedHiResURL() != null ? resolvedPhotoDetail.getResolvedHiResURL() : resolvedPhotoDetail.getResolvedNormalURL()}">
                    <img th:src="${resolvedPhotoDetail.getResolvedNormalURL()}" width="400">
                </a>
            </td>
            <td>
                <dl>
                    <dt>Photo By:</dt>
                    <dd th:if="${resolvedPhotoDetail.getPhotoDetails().getPhotoBy() != null}"
                        th:text="${resolvedPhotoDetail.getPhotoDetails().getPhotoBy()}"></dd>
                    <dd th:if="${resolvedPhotoDetail.getPhotoDetails().getPhotoBy() == null}">Unknown</dd>

                    <th:block th:if="${resolvedPhotoDetail.getPhotoDetails().getDate() != null}">
                        <dt>Date:</dt>
                        <dd th:text="${resolvedPhotoDetail.getPhotoDetails().getDate()}"></dd>
                    </th:block>

                    <th:block th:if="${resolvedPhotoDetail.getPhotoDetails().getLocation() != null}">
                        <dt>Location:</dt>
                        <dd th:text="${resolvedPhotoDetail.getPhotoDetails().getLocation()}"></dd>
                    </th:block>

                    <th:block
                            th:if="${resolvedPhotoDetail.getPhotoDetails().getDescription() != null && !resolvedPhotoDetail.getPhotoDetails().getDescription().isEmpty()}">
                        <dt>Description:</dt>
                        <dd th:text="${resolvedPhotoDetail.getPhotoDetails().getDescription()}"></dd>
                    </th:block>

                    <th:block th:if="${resolvedPhotoDetail.getResolvedHiResURL() != null}">
                        <dt>Hi-Resolution Version:</dt>
                        <dd><a th:href="${resolvedPhotoDetail.getResolvedHiResURL()}">Hi-res photo</a></dd>
                    </th:block>

                    <th:block th:if="${resolvedPhotoDetail.getResolvedTagURL() != null}">
                        <dt>Tag:</dt>
                        <dd><img th:src="${resolvedPhotoDetail.getResolvedTagURL()}"></dd>
                    </th:block>
                </dl>
            </td>
        </tr>
    </table>
</div>
</body>
</html>