<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>


<div style="padding-left:16px">
    <h1>Hybrid Index</h1>
    <table>
        <tr>
            <td th:each="letter : ${letters}">
                <a th:href="@{/hybrid_index(letter=${letter},size=10,offset=0)}" style="font-size: 26px; padding:8px">
                    <b th:text="${letter}"></b>
                </a>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th:block th:each="indexPage, stat : ${indexPages}">
                <td th:style="${stat.index == indexPagePos ? 'background-color: #55aaaa;': _} "
                    th:styleappend="${'padding:8px'}">
                    <a th:href=" @{/hybrid_index(letter=${currentLetter},size=${pageSize},offset=${indexPage.startPos})}">
                        <b th:text="|${indexPage.startPos+1} - ${indexPage.endPos+1}|"></b>
                        <br/>
                        <b th:text="|${indexPage.startValue} - ${indexPage.endValue}|"></b>
                    </a>
                </td>
            </th:block>
        </tr>
    </table>
    <table>
        <th:block th:each="hybrid : ${hybrids}">
            <th:block th:insert="~{fragments/hybrid-preview-card :: card (${hybrid}) }"></th:block>
        </th:block>
    </table>
</div>

</body>
</html>