<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>

<div class="content">
    <div class="description-container">
        <h1 class="font-weight-bold">Good Stuff From Across the Web</h1>
        <br/>
        <table>
            <tr>
                <td>
                    <a th:href="@{http://rhodyman.net/rhodyn.php}" target="_blank">
                        <img th:src="@{/imgs/hennings.png}" alt="Henning the Rhodyman" width="130px">
                    </a>
                </td>
                <td>
                    <a th:href="@{http://rhodyman.net/rhodyn.php}" target="_blank">
                        <b>HENNING'S RHODODENDRON & AZALEA PAGES</b>
                        <br/>
                        <i>A trove of information</i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{https://www.rhodogarden.com}" target="_blank">
                        <img th:src="@{/imgs/RSBG.png}" width="130px" alt="RSBG">
                    </a>
                </td>
                <td>
                    <a th:href="@{https://rhodygarden.org/}" target="_blank">
                        <b>THE RHODODENDRON SPECIES BOTANICAL GARDEN</b>
                        <br/>
                        <i>The one and only</i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{https://www.treesandshrubsonline.org/articles/rhododendron/}" target="_blank">
                        <img th:src="@{/imgs/trees_and_shrubs_online.png}" width="130px" alt="Trees and Shrubs Online">
                    </a>
                </td>
                <td>
                    <a th:href="@{https://www.treesandshrubsonline.org/articles/rhododendron/}" target="_blank">
                        <b>TREES AND SHRUBS ONLINE</b>
                        <br/>
                        <i>Some of the best information on Rhododendron species on the web. Look for "species links"
                            on the right hand side of the page.</i>
                    </a>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <a th:href="@{https://www.rhododendron.org/}" target="_blank">
                        <b>THE AMERICAN RHODODENDRON SOCIETY</b>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{https://www.rhododendron.dk/}" target="_blank">
                        <b>DANISH CHAPTER OF THE AMERICAN RHODODENDRON SOCIETY</b>
                        <br/>
                        <i>Excellent photos/information on a wide range of topics, incl. especially detailed species
                            photos</i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{https://www.rhodogarden.com}" target="_blank">
                        <b>KRISTIAN THEQVIST - RHODOGARDEN</b>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{http://www.rhododendron.fr/}" target="_blank">
                        <b>MARC COLOMBEL - RHODODENDRON</b>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <b>More coming!</b>
                </td>
            </tr>

        </table>
    </div>
</body>
</html>
