<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<head th:replace="~{fragments/head}"></head>
<body >
<div th:replace="~{fragments/header}"></div>


<div class="content">
    <div class="description-container">
<!--        <div style="display:flex;flex-direction:row;justify-content: center; align-items: center">-->
<!--            <img th:src="@{/imgs/underconstruction.gif}" style="height: 1.5em">-->
<!--            <p>Public works: There are duplicate Azalea entries.  I'll fix these shorty</p>-->
<!--            <img th:src="@{/imgs/underconstruction.gif}" style="height: 1.5em">-->
<!--        </div>-->
        <h1>Index</h1>
        <table class="letter-wrap">
            <tr>
                <th:block th:each="letter, stat : ${letters}">
                    <td th:style="${letter.toLowerCase().equals(currentLetter.toLowerCase()) ? 'background-color: #55aaaa;': _}"
                        th:styleappend="${'padding:8px'}">
                        <a th:href="@{/rhodo_index(letter=${letter},justPics=${justPics})}"
                           style="  font-size: 26px">
                            <b th:text="${letter}"></b>
                        </a>
                    </td>
                </th:block>
            </tr>
        </table>

        <button type="button" class="collapsible" onclick="toggle_index_dropdown_state()">
            <h3 id="index_settings_button">Settings:</h3>
        </button>
        <div id="advanced_index_dropdown" class="advanced_search_collapse advanced_search_trans">
            <form th:action="@{/rhodo_index}" th:method="get">
                <table>
                    <tr>
                        <td>
                            <label class="switch">
                                <input type="checkbox" th:name="justPics" th:value="true" th:checked="${justPics}"
                                       onChange="this.form.submit()">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td> Only display entries with pictures</td>
                    </tr>
                </table>
                <input type="hidden" th:name="letter" th:value="${currentLetter}">
            </form>
        </div>
        <h3>Pages:</h3>
        <div class="table-scrollbar">
            <table>
                <tr>
                    <th:block th:each="indexPage, stat : ${resultPages}">

                        <td class="page-button"
                            th:style="${stat.index == resultPagePos ? 'background-color: #55aaaa;': _} "
                            th:styleappend="${'padding:8px'}">
                            <a th:href=" @{/rhodo_index(letter=${currentLetter},size=${pageSize},offset=${indexPage.startPos},justPics=${justPics})}">
                                <!--                        <b th:text="|${indexPage.startPos+1} - ${indexPage.endPos+1}|"></b>-->
                                <b th:text="|${stat.index + 1}:|"></b>
                                <br/>
                                <b th:text="|${#strings.capitalize(indexPage.startValue)}|"></b>
                                <br/>
                                <i>―</i>
                                <br/>
                                <b th:text="|${#strings.capitalize(indexPage.endValue)}|"></b>
                            </a>
                        </td>
                    </th:block>
                </tr>
            </table>
        </div>
        <a th:if="${nextPage != null}"
           th:href=" @{/rhodo_index(letter=${nextPage.letter()},size=${pageSize},offset=${nextPage.offset()},justPics=${justPics})}"
           style="display: flex; justify-content: flex-end; padding-right: 5%">
            <h3>
                Next Page
            </h3>
        </a>
    </div>
    <table class="picture-table bordered-table">
        <th:block th:each="rhodo : ${rhodos}">
            <th:block th:insert="~{fragments/rhodo-preview-card :: card (${rhodo}) }"></th:block>
        </th:block>
    </table>
    <a th:if="${nextPage != null}"
       th:href=" @{/rhodo_index(letter=${nextPage.letter()},size=${pageSize},offset=${nextPage.offset()},justPics=${justPics})}"
       style="display: flex; justify-content: flex-end; padding-right: 5%">
        <h2>
            Next Page
        </h2>
    </a>
    <br/>
    <br/>
    <br/>
    <br/>
</div>


</body>
</html>