<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>


<div style="padding-left:16px">
    <h1>Rhododendron Index</h1>
    <table>
        <tr>
            <th:block th:each="letter, stat : ${letters}">
                <td th:style="${letter.toLowerCase().equals(currentLetter.toLowerCase()) ? 'background-color: #55aaaa;': _}"
                    th:styleappend="${'padding:8px'}">
                    <a th:href="@{/rhodo_index(letter=${letter},size=10,offset=0)}"
                       style="font-size: 26px">
                        <b th:text="${letter}"></b>
                    </a>
                </td>
            </th:block>
        </tr>
    </table>
    <table>
        <tr>
            <th:block th:each="indexPage, stat : ${resultPages}">
                <td th:style="${stat.index == resultPagePos ? 'background-color: #55aaaa;': _} "
                    th:styleappend="${'padding:8px'}">
                    <a th:href=" @{/rhodo_index(letter=${currentLetter},size=${pageSize},offset=${indexPage.startPos})}">
                        <b th:text="|${indexPage.startPos+1} - ${indexPage.endPos+1}|"></b>
                        <br/>
                        <b th:text="|${indexPage.startValue} - ${indexPage.endValue}|"></b>
                    </a>
                </td>
            </th:block>
        </tr>
    </table>
    <a th:if="${nextPage != null}"
       th:href=" @{/rhodo_index(letter=${nextPage.letter()},size=${pageSize},offset=${nextPage.offset()})}"
       style="display: flex; justify-content: flex-end; padding-right: 5%">
        <h3>
            Next Page
        </h3>
    </a>
    <table>
        <th:block th:each="rhodo : ${rhodos}">
            <th:block th:insert="~{fragments/rhodo-preview-card :: card (${rhodo}) }"></th:block>
        </th:block>
    </table>
    <a th:if="${nextPage != null}"
       th:href=" @{/rhodo_index(letter=${nextPage.letter()},size=${pageSize},offset=${nextPage.offset()})}"
       style="display: flex; justify-content: flex-end; padding-right: 5%">
        <h2>
            Next Page
        </h2>
    </a>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

</body>
</html>