<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/header}"></div>

<h1 th:text="'R. ' + ${speciesDetail.getSpecies().getName()}"></h1>
<table>
    <thead>Pictures</thead>
    <tr th:each="photoRowInfo : ${speciesDetail.getPhotoRowInfoList()}">
        <td>
            <img th:src="${photoRowInfo.getResolvedURL()}" width="400">
        </td>
        <td>
            <dl>
                <dt>Photo By:</dt>
                <dd th:text="${photoRowInfo.getPhotoDetails().getPhotoBy()}"></dd>

                <dt>Date:</dt>
                <dd th:text="${photoRowInfo.getPhotoDetails().getDate()}"></dd>

                <dt>Location</dt>
                <dd th:text="${photoRowInfo.getPhotoDetails().getLocation()}"></dd>
            </dl>
        </td>
    </tr>
</table>

</body>
</html>